header, footer {
    background-color: #434e74;
    color: #fff;
}

header {
    height: 55px;
}

.main-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

footer {
    height: 40px;
}

.footer-sign {
    margin-top: 10px;
}

.main {
    padding: 10px 0;
    min-height: calc(100% - 95px);
}

#postsCarousel .carousel-inner {
    padding-left: 50px;
    padding-right: 50px;
    min-height: 140px;
}

#postsCarousel .carousel-inner .item {
    padding: 15px 0;
}

#postsCarousel .carousel-control {
    width: 3%;
    min-width: 32px;
    opacity: .2;
}

.posts-block {
    margin-top: 20px;
}

.post-item-container {
    padding: 10px;
}

.post-item {
    min-height: 130px;
    padding: 10px;
    background-color: #f5f5f5;
}

.title-rel {
    float: left;
}

.home-link {
    margin-top: 20px;
    margin-bottom: 10px;
}

.comment-item-container {
    float: left;
    width: 100%;
    padding: 5px 15px;
}

.comment-item {
    padding-top: 6px;
    background-color: #f5f5f5;
}